In [2]:
# loading libraries 
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Sales_April_2019.csv')

In [4]:
#printing first 10 columns
df.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"

In [5]:
#printing last 10 columns
df.tail(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18373,194085,Wired Headphones,1,11.99,04/17/19 20:12,"315 12th St, Los Angeles, CA 90001"
18374,194086,Google Phone,1,600,04/28/19 08:50,"981 Dogwood St, Los Angeles, CA 90001"
18375,194087,USB-C Charging Cable,2,11.95,04/26/19 11:44,"35 13th St, Portland, OR 97035"
18376,194088,AAA Batteries (4-pack),2,2.99,04/04/19 18:46,"718 12th St, Austin, TX 73301"
18377,194089,USB-C Charging Cable,1,11.95,04/09/19 17:15,"458 11th St, San Francisco, CA 94016"
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [7]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,18324,18324,18324,18324,18324,18324
unique,17538,20,8,19,13584,17120
top,Order ID,Lightning Charging Cable,1,14.95,Order Date,Purchase Address
freq,35,2201,16558,2201,35,35

In [8]:
#number of rows and columns before cleaning 
row,col=df.shape
print("number of rows are ",row)
print("number of columns ara ",col)

number of rows are  18383
number of columns ara  6

In [9]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [10]:
#check if ther is null vlaue 
df.isnull().sum()

Order ID            59
Product             59
Quantity Ordered    59
Price Each          59
Order Date          59
Purchase Address    59
dtype: int64

In [11]:
#deop all null values 
df=df.dropna()

In [12]:
#check if null value still there
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [13]:
#check duplicated values and remove them
dup=df[df.duplicated()]
print(dup)

       Order ID                     Product  Quantity Ordered  Price Each  \
31       176585  Bose SoundSport Headphones                 1       99.99
1149   Order ID                     Product  Quantity Ordered  Price Each
1155   Order ID                     Product  Quantity Ordered  Price Each
1302     177795    Apple Airpods Headphones                 1         150
1684     178158        USB-C Charging Cable                 1       11.95
2878   Order ID                     Product  Quantity Ordered  Price Each
2893   Order ID                     Product  Quantity Ordered  Price Each
3036   Order ID                     Product  Quantity Ordered  Price Each
3209   Order ID                     Product  Quantity Ordered  Price Each
3618   Order ID                     Product  Quantity Ordered  Price Each
3805     180207    Apple Airpods Headphones                 1         150
4138   Order ID                     Product  Quantity Ordered  Price Each
4196     180576    Lightning Charging Cable                 1       14.95
4376     180746      AAA Batteries (4-pack)                 1        2.99
4450     180817    Lightning Charging Cable                 1       14.95
4645   Order ID                     Product  Quantity Ordered  Price Each
4734     181084               Flatscreen TV                 1         300
4794   Order ID                     Product  Quantity Ordered  Price Each
4906     181246            Wired Headphones                 1       11.99
5303   Order ID                     Product  Quantity Ordered  Price Each
5773     182077      AAA Batteries (4-pack)                 1        2.99
6242     182523    Lightning Charging Cable                 1       14.95
6646     182904    Lightning Charging Cable                 1       14.95
6939   Order ID                     Product  Quantity Ordered  Price Each
7372     183587      AAA Batteries (4-pack)                 1        2.99
7497   Order ID                     Product  Quantity Ordered  Price Each
8540     184717        USB-C Charging Cable                 1       11.95
8635   Order ID                     Product  Quantity Ordered  Price Each
9044     185193    Lightning Charging Cable                 1       14.95
9189   Order ID                     Product  Quantity Ordered  Price Each
9329   Order ID                     Product  Quantity Ordered  Price Each
9899     186008  Bose SoundSport Headphones                 1       99.99
9973   Order ID                     Product  Quantity Ordered  Price Each
10885  Order ID                     Product  Quantity Ordered  Price Each
10958  Order ID                     Product  Quantity Ordered  Price Each
11272  Order ID                     Product  Quantity Ordered  Price Each
11334    187379        USB-C Charging Cable                 1       11.95
11619  Order ID                     Product  Quantity Ordered  Price Each
11742  Order ID                     Product  Quantity Ordered  Price Each
11778  Order ID                     Product  Quantity Ordered  Price Each
11874  Order ID                     Product  Quantity Ordered  Price Each
12455  Order ID                     Product  Quantity Ordered  Price Each
12871    188827        USB-C Charging Cable                 1       11.95
13362  Order ID                     Product  Quantity Ordered  Price Each
14022  Order ID                     Product  Quantity Ordered  Price Each
14202    190099       AA Batteries (4-pack)                 1        3.84
14522  Order ID                     Product  Quantity Ordered  Price Each
14677    190553    Lightning Charging Cable                 1       14.95
14860  Order ID                     Product  Quantity Ordered  Price Each
15280  Order ID                     Product  Quantity Ordered  Price Each
17164    192939      34in Ultrawide Monitor                 1      379.99
17208  Order ID                     Product  Quantity Ordered  Price Each
17324  Order ID                     Product  Quantity Ordered  Price Each
17339  Order ID                     Product  Quantity Ordered  Price Each
17744  Order ID                     Product  Quantity Ordered  Price Each
18194    193916                20in Monitor                 1      109.99

           Order Date                         Purchase Address
31     04/07/19 11:31        823 Highland St, Boston, MA 02215
1149       Order Date                         Purchase Address
1155       Order Date                         Purchase Address
1302   04/27/19 19:45           740 14th St, Seattle, WA 98101
1684   04/28/19 21:13   197 Center St, San Francisco, CA 94016
2878       Order Date                         Purchase Address
2893       Order Date                         Purchase Address
3036       Order Date                         Purchase Address
3209       Order Date                         Purchase Address
3618       Order Date                         Purchase Address
3805   04/13/19 01:46        196 7th St, Los Angeles, CA 90001
4138       Order Date                         Purchase Address
4196   04/18/19 17:23            431 Park St, Dallas, TX 75001
4376   04/30/19 12:05     398 West St, New York City, NY 10001
4450   04/13/19 18:33       563 13th St, Los Angeles, CA 90001
4645       Order Date                         Purchase Address
4734   04/07/19 21:36            1 Walnut St, Boston, MA 02215
4794       Order Date                         Purchase Address
4906   04/09/19 13:58  342 Hickory St, San Francisco, CA 94016
5303       Order Date                         Purchase Address
5773   04/13/19 22:08      730 4th St, New York City, NY 10001
6242   04/24/19 21:16           990 River St, Boston, MA 02215
6646   04/09/19 22:15         410 Wilson St, Atlanta, GA 30301
6939       Order Date                         Purchase Address
7372   04/15/19 00:21     384 Sunset St, Los Angeles, CA 90001
7497       Order Date                         Purchase Address
8540   04/04/19 10:17         439 Forest St, Atlanta, GA 30301
8635       Order Date                         Purchase Address
9044   04/16/19 21:38     714 13th St, San Francisco, CA 94016
9189       Order Date                         Purchase Address
9329       Order Date                         Purchase Address
9899   04/17/19 19:36     432 Park St, New York City, NY 10001
9973       Order Date                         Purchase Address
10885      Order Date                         Purchase Address
10958      Order Date                         Purchase Address
11272      Order Date                         Purchase Address
11334  04/10/19 19:06       504 10th St, Los Angeles, CA 90001
11619      Order Date                         Purchase Address
11742      Order Date                         Purchase Address
11778      Order Date                         Purchase Address
11874      Order Date                         Purchase Address
12455      Order Date                         Purchase Address
12871  04/17/19 18:17   900 Spruce St, New York City, NY 10001
13362      Order Date                         Purchase Address
14022      Order Date                         Purchase Address
14202  04/18/19 08:07     845 Sunset St, Los Angeles, CA 90001
14522      Order Date                         Purchase Address
14677  04/10/19 17:38  548 Madison St, New York City, NY 10001
14860      Order Date                         Purchase Address
15280      Order Date                         Purchase Address
17164  04/29/19 21:07          519 Adams St, Seattle, WA 98101
17208      Order Date                         Purchase Address
17324      Order Date                         Purchase Address
17339      Order Date                         Purchase Address
17744      Order Date                         Purchase Address
18194  04/18/19 12:59          653 Cherry St, Dallas, TX 75001

In [14]:
# drop all duplicate records 
df=df.drop_duplicates()

In [15]:
# drop all duplicate records 
df=df.drop_duplicates()

In [16]:
# row and columns after cleaning 
row,col=df.shape
print("number of rows are ",row)
print("number of columns ara ",col)

number of rows are  18268
number of columns ara  6

In [17]:
df.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215"

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18268 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18268 non-null  object
 1   Product           18268 non-null  object
 2   Quantity Ordered  18268 non-null  object
 3   Price Each        18268 non-null  object
 4   Order Date        18268 non-null  object
 5   Purchase Address  18268 non-null  object
dtypes: object(6)
memory usage: 999.0+ KB